/* Font to the face */

@font-face {
  font-family: "GeneralFoundicons";
  src: url("fonts/general_foundicons.eot");
  src: url("fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("fonts/general_foundicons.woff") format("woff"), url("fonts/general_foundicons.ttf") format("truetype"), url("fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 10px;
}

.foundicon-mail:before {
  content: "\f007";
  font-size: 0.9em;
}

.foundicon-paper-clip:before {
  content: "\f01e";
  font-size: 0.7em;
  margin-left: 8px;
}

.foundicon-checkmark:before {
  content: "\f005";
  font-size: 0.7em;
  margin-left: 8px;
}

.foundicon-location:before {
  content: "\f028";
  font-size: 0.7em;
}

@font-face {
  font-family: "SocialFoundicons";
  src: url("fonts/social_foundicons.eot");
  src: url("fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("fonts/social_foundicons.woff") format("woff"), url("fonts/social_foundicons.ttf") format("truetype"), url("fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundiconsocial-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundiconsocial-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 10px;
}

.foundiconsocial-twitter:before {
  content: "\f004";
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@-moz-keyframes expand {
  0% {
    -moz-transform: scale(0);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@-o-keyframes expand {
  0% {
    -o-transform: scale(0);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@keyframes expand {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 6.66667px #141414;
  width: 40px;
  height: 40px;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -21px 0 0 -21px;
  border-radius: 50%;
  z-index: 2;
  width: 42px;
  height: 42px;
}
.loader:before {
  background-color: #141414;
  -webkit-animation: expand 1.6s linear infinite both;
  -moz-animation: expand 1.6s linear infinite both;
  animation: expand 1.6s linear infinite both;
}
.loader:after {
  background-color: white;
  -webkit-animation: expand 1.6s linear 0.8s infinite both;
  -moz-animation: expand 1.6s linear 0.8s infinite both;
  animation: expand 1.6s linear 0.8s infinite both;
}


* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}

a {
	font: inherit;
	text-decoration: none;
	color: inherit;
}

input {
	font: inherit;
	border: none;
}

input:focus {
	outline: none;
}

body {
	background: #f0f0f0;
	font-size: 20px;
	font-family: "proxima-nova",sans-serif;
	padding: 0 25px;
	color: #6d6d6d;	
}

.wrap {
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
}

#content {

}

h1 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	display: inline;
	vertical-align: middle;
	font-size: 40px;
}

#logo {
	display: inline-block;
	float: left;
	line-height: 80px;
}

.logo-icon {
	vertical-align: middle;
	margin-right: 4px;
}


.tagline {
	float: right;
	margin-top: 39px;
	font-size: 0.8em;
}

.header:after {
	clear:both;
}

#map {
	background: #fff;
	margin: auto;
	display: inline-block;
	padding: 8px 5px 2px 5px;
	margin-bottom: 24px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	position: relative;
	border-top: 1px solid transparent;
	width: 80vw;
	height: 80vh;
}

#mapcanvas {
	margin: auto;
}

#link {
	width: 50%;
	margin: 0 auto 24px 0;
	padding: 13px;
	color: #85c5df;
	text-align: center;
	display: inline-block;
}

.btn {
	background: #85c5df;
	display: inline-block;
	padding: 10px 15px;
	color: #fff;
	border-radius: 4px;
	margin: 0 10px;
	box-shadow: 0 3px 0 #7ab1c7;
	margin-bottom: 24px;
}

.btn:hover {
	background: #8fcfe9;
}

.btn:active {
	position: relative;
	top: 3px;
	box-shadow: none;
	background: #7ab1c7;
}

.link-icon {
	background: #85c5df;
	width: 34px; 
	height: 34px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 20px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 34px;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -17px;
	-webkit-box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 1);
}

.link-icon:hover {
	background: #8fcfe9;
}

.foundicon-checkmark.link-icon {
	background:  #93d277;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform:rotate(360deg);
	    -moz-transform:rotate(360deg); 
	    -o-transform:rotate(360deg);
}

footer {
	font-size: 0.8em;
	margin-top: 40px;
}

footer a {
	color: #85C5DF;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.share-message {
	width: 100%;
	margin: 10px 0 25px 0;
}

.group {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.group:after {
 content: "";
 display: table;
 clear: both;
}

.foundicon-location:before {
	margin-bottom: 2px;
}

[hidden] {
	display: none;
}

/* ===== == = === 21.875em (350px) === = == ===== */

@media only screen and (max-width : 21.875em) {

	.tagline, footer {
		font-size: 0.7em;
	}
	
	.tagline {
		margin-top: 41px;
	}

	#map {
		max-height: 400px;
	}

	#link {
		width: 80%;
	}
}
